.projects-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 3%);
  padding-bottom: 10%;
}

p {
  text-align: center;
}

.projects-title::after {
  content: '';
  position: absolute;
  top: calc(100% + 1rem);
  height: 5px;
  width: 4rem;
  background: #d91e18;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.projects-container>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
}

.projects-container>h1 {
  text-align: center;
  padding-bottom: 5%;
}

.project-list {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

@media screen and (max-width: 506px) {
  .projects-title {
    font-size: 2rem;
  }

  .introduction h2 {
    font-size: 1rem;
  }

  .skills-container h2 {
    font-size: 1rem
  }

  .skills-container div {
    font-size: 1rem;
  }

  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}