.card-project {
    border-radius: 10px 10px 10px;
}

.card-project:hover {
    box-shadow: 0px 0px 15px 5px rgba(131, 0, 0, 0.154);
}

.card-project div>a>img {
    width: 50px;
}

.project-skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}