.home-container {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-rows: 35% 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 25%;
  padding-bottom: 15%;
}

.brief-introduction-container {
  padding-bottom: 20%;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-weight: 700;
  grid-row: 1;
  grid-column: 1/3;
  width: 100%;
}

.brief-introduction-container:nth-last-child() {
  width: 74%;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding-top: 21px;
}

.photo-cv {
  height: 18em;
  border-radius: 100%;
}

.home-right {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
}

.home-right div {
  border-radius: 50%;
  /* border: 1px solid black; */
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 50%;
  height: 90%;
  padding-top: 5%;
}

.home-left > div {
  text-align: center;
}

.contact-button {
  width: 5em;
  padding: 9%;
  font-size: 0.5em;
  background: #d91e18;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 28px;
}

.social-network-container {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 2/4;
  justify-content: center;
  height: 100%;
  align-items: center;
  width: 100%;
}

.social-network-container > div {
  padding: 0;
  padding-right: 2%;
  font-size: 12pt;
}

.contact-button-container {
  margin-bottom: 8%;
  margin-top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button {
  border-style: none;
}

.contact-button-link {
  text-decoration: none;
}
.contact-button:focus {
  outline: none;
}

.contact-button:hover {
  animation: buttonTextEffect 1s linear 0s 1 reverse running;
  box-shadow: 0px 0px 8px black;
}

@keyframes buttonTextEffect {
  from {
    color: rgb(255, 255, 255, 100%);
  }
  to {
    color: rgb(255, 255, 255, 0%);
  }
}

.social-network-container > div > img {
  height: 3.5em;
}

.social-network-container > div > img:hover {
  filter: invert(19%) sepia(82%) saturate(3300%) hue-rotate(5deg)
    brightness(93%) contrast(112%);
  cursor: pointer;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 2/4;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home-container {
    padding-top: 29%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .brief-introduction-container {
    grid-row: 1;
    padding-bottom: 9%;
    grid-column: 1;
    font-size: 2.5em;
    align-items: flex-start;
    padding-left: 3%;
  }

  .social-network-container {
    padding-left: 4%;
    flex-direction: row;
    grid-row: 2;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .photo-container {
    align-items: flex-start;
    justify-content: center;
    grid-row: 1/3;
  }

  .photo-cv {
    height: 27em;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1440px) {
  .home-container {
    padding-top: 15%;
    width: 80%;
  }

  .brief-introduction-container {
    font-size: 4em;
  }

  .photo-cv {
    height: 35em;
  }
}
