.nav-container {
  box-shadow: 0px -2px 5px black;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  background-color: #ffffff;
  transition: top 0.3s;
  padding: 20px;
  /* Transition effect when sliding down (and up) */
  width: 100%;
  position: fixed;
}

.nav-hidden {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
}

.nav-left {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right li {
  padding-right: 10px;
  display: inline;
}

.nav-right {
  list-style: none;
  padding-right: 2%;
}

.nav-right a {
  text-decoration: none;
  color: #5e738b;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  display: inline;
}

.nav-right a:hover {
  box-shadow: -1px -2px 0px #ffffff;
}

.nav-left span {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.port {
  color: #5e738b;
  font-weight: bold;
  font-size: 25pt;
}

.folio {
  color: #d91e18;
  font-weight: bold;
  font-size: 25pt;
}

.activeLink {
  border-bottom: 3px solid #d91e18;
}

.portfolio {
  text-decoration: none;
  padding-right: 5%;
  padding: 10px;
}

/* MOBILE PART */

.nav-mobile {
  font-weight: bold;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px -2px 5px black;
  top: 0;
  background-color: #ffffff;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  height: 6%;
  width: 100%;
  position: fixed;
  z-index: 101;
}

.nav-mobile>img {
  height: 80%;
  cursor: pointer;
  margin: 21px;
  filter: brightness(0) saturate(100%) invert(43%) sepia(16%) saturate(668%) hue-rotate(172deg) brightness(98%) contrast(91%);
}

.nav-mobile .portfolio {
  position: absolute;
  right: 0px;
}

.menu-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  left: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 100%;
}

.menu-mobile-show {
  top: 0%;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-mobile-hidden {
  top: -150%;
}

.menu-mobile ul li {
  list-style: none;
  text-align: center;
  padding-bottom: 5%;
  height: 50px;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.menu-mobile ul a {
  text-decoration: none;
  color: #5e738b;
}

.menu-mobile>ul {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    font-size: 1.5em;
  }

  .menu-mobile ul li {
    padding: 10%;
    text-align: center;
  }

  .menu-mobile ul {
    width: 65%;
  }
}

@media screen and (min-width: 988px) {
  .nav-mobile {
    display: none;
  }

  .nav-container {
    display: flex;
  }
}