.about-me-title {
  font-size: 4rem;
  padding-bottom: 2rem;
}


.introduction {
  text-align: center;
  width: 50%;
  padding-right: 10%;
}

.introduction p {
  text-align: justify;
}

.skills-container {
  width: 50%;
}

.skills-container>div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: center;
  text-align: center
}

.skills-container h2 {
  text-align: center;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 80%;
}

.about-me-container>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

@media screen and (min-width: 1024px) {
  h1 {
    padding-bottom: 0;
    padding-top: 0;
  }
}